<% function addHyphensBetweenWords(str) {
  if (str.length > 1) {
    return str.split(' ').join('-');
  } else {
    return str;
  }
} %>
      
      
      
      <% var hypenMovieName = addHyphensBetweenWords(cinema.name); %>
      <a class="movie-item" href="/<%= cinema.type %>/<%= hypenMovieName %>-<%= cinema.itemId %>"> 
        <div class="movie-info"> 
          <div class="top"> 
            <span><%= cinema.type.charAt(0).toUpperCase()+ cinema.type.slice(1); %></span> 
            <span><%= cinema.maturity %></span> 
          </div> 
          <div class="name"><%= cinema.name %></div> 
          <div class="bottom"> 
            <span><span id="star-and-rating"><i class="material-icons">&#xe885;</i><%= cinema.rating %></span> </span>
          
            <% if(cinema.type.trim() === "TV") {  %>
            <span>SS <%= cinema.season %></span> 
            <span>EP <%= cinema.episode %></span> 
            <% } else { %>
            <span><%= cinema.releaseDate.getFullYear(); %></span> 
            <span><%= cinema.duration %></span> 
            <% } %>
          </div> 
        </div> 
        <div class="movie-poster" data-tip="15497?/cachee40b"> 
          <div><img class=" ls-is-cached lazyloaded"  alt="<%= cinema.name %>" src="<%= cinema.poster %>"></div> 
        </div> 
      </a>