<%- include('partials/header.ejs') %>


<main>
  <div class="main">
    
      <div id="main-banner" class="swiper swiper-container-initialized swiper-container-horizontal" >
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(&quot;https://static.bunnycdn.ru/i/cache/images/f/fd/fd48cf7569cbc9621add1dd99df0bd55.jpg&quot;);" data-swiper-slide-index="1"> 
            <div class="container"> 
              <div class="wrap-slide"> 
                <div class="movie-info"> 
                  <div class="movie-title">Fatal Seduction</div> 
                  <div class="movie-meta"> 
                    <span class="quality">HD</span> 
                    <span class="rating">?</span> 
                    <span class="imdb flex"><i class="material-icons fs-1">&#xe838;</i> 0</span> 
                    <span>2023</span> 
                    <span class="genre"> 
                      <a href="/genre/drama">Drama</a> 
                      <a href="/genre/thriller">Thriller</a> 
                    </span> 
                  </div> 
                  <div class="movie-desc">A married woman goes on a dangerous weekend trip away from home that sparks desire but ends tragically, making her wonder if the people close to her are telling the truth.</div> 
                  <div class="movie-actions"> 
                    <div> 
                      <a href="/tv/fatal-seduction-302v9" class="btn btn-primary btn-lg">Watch Now <i class="material-icons">&#xe068;</i> </a> 
                    </div> 
                    <div class="dropup user-bookmark" data-id="67565"> 
                      <button class="btn btn-lg btn-secondary" data-toggle="dropdown" data-placeholder="false" data-add="Add To List <i class=&quot;mdi mdi-star-plus&quot;></i>" data-edit="Edit List <i class=&quot;mdi mdi-star-plus&quot;></i>"> Add To List <i class="material-icons">&#xe743;</i>  </button> 
                      <div class="dropdown-menu dropdown-menu-right folders"></div> 
                    </div>
                   </div> 
                  </div> 
                </div> 
              </div> 
            </div>
          
        </div>

        <div class="swiper-actions">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <div class="swiper-pagination"></div>
    
      </div>
    
    
    <div class="container">
      <div class="aside-wrap">
        <div class="main-content">
          <section>
            <div class="top">
              <div class="begin">
                <h2>Recommended</h2>
                <div class="strips">
                  <div class="strips-main active" id="js-strip-movies">MOVIES</div>
                  <div class="strips-main" id="js-strip-tv" >TV SHOWS</div>
                  <div class="strips-main" id="js-strip-trending" >TRENDING</div>
                </div> 
              </div>
            </div>
  
            <div class="tab-content" data-name="movies"> 
              <div class="base content movies js-recommended-movies" >
                  <!-- CARDS -->
                  <% movies.slice(0, 14).forEach((movie) => { %>
                  <%- include('partials/movie-item.ejs', { cinema:movie}) %>
                  <% }) %>
              </div>
            </div>
            <div class="tab-content" data-name="tv shows"> 
              <div class="base content movies js-recommended-movies" >
                              <!-- CARDS -->
                  <% series.slice(0, 14).forEach((serie) => { %>
                    <%- include('partials/movie-item.ejs', { cinema:serie  }) %>
                    <% }) %>
                
              </div>
            </div>
            <div class="tab-content" data-name="trending"> 
              <div class="base content movies js-recommended-movies">
                              <!-- CARDS -->
                              
              </div>
            </div>

          
          </section>
  
          <section>
            <div class="top">
              <div class="begin">
                <h2>Latest Movies</h2>
              </div>
              <div class="end">
                <a class="btn-viewmore" href="/movie">view more <i class="material-icons">&#xf1e1;</i></a>
              </div>
            </div>
  
            <div class="section-content"> 
              <div class="base content movies" id="js-latest-movie">
                <!-- CARDS -->
                <% movies.slice(0, 14).forEach((movie) => { %>
                <%- include('partials/movie-item.ejs', { cinema:movie }) %>
                <% }) %>
              </div>
            </div>
          </section>
  
          <section>
            <div class="top">
              <div class="begin">
                <h2>Latest TV Shows</h2>
              </div>
              <div class="end">
                <a class="btn-viewmore" href="/movie">view more <i class="material-icons">&#xf1e1;</i></a>
              </div>
            </div>

           
            <div class="section-content"> 
              <div class="base content movies js-latest-TVShows">
                  <!-- CARDS -->
                  <% series.slice(0, 14).forEach((serie) => { %>
                  <%- include('partials/movie-item.ejs', { cinema:serie }) %>
                  <% }) %>
              </div>
            </div>
            
            
          </section>

        </div>
  
  
        <div class="sidebar">
          <section>
            <% function addHyphensBetweenWords(str) {
              if (str.length > 1) {
                return str.split(' ').join('-');
              } else {
                return str;
              }
            } %>
            
            <div class="top"> 
              <div class="begin"> 
                <h2>Trending</h2> 
                <div class="strips">
                  <div class="strip-sidebar active" id="js-strip-day" >DAY</div>
                  <div class="strip-sidebar " id="js-strip-week" >WEEK</div>
                  <div class="strip-sidebar " id="js-strip-month">MONTH</div>
                </div> 
              </div> 
            </div>
            <div class=" base mini in-sidebar movies" data-name="day">
              <% movies.slice(0, 7).forEach((movie) => { %>
              <%- include('partials/sidebar-item.ejs', { cinema:movie }) %>
              <% }) %>
            </div>
            <div class=" base mini in-sidebar movies" data-name="week">
              <% series.slice(0, 7).forEach((serie) => { %>
              <%- include('partials/sidebar-item.ejs', { cinema:serie }) %>
              <% }) %>
            </div>
            <div class=" base mini in-sidebar movies" data-name="month">
              <% movies.slice(0, 7).forEach((movie) => { %>
              <%- include('partials/sidebar-item.ejs', { cinema:movie }) %>
              <% }) %>
            </div>
           
          </section>
        </div>
      </div>
    </div>
  
  </div>

</main>

<script src="/js/onClick.js"></script>

<%- include('partials/footer.ejs') %>

<%- include('partials/login.ejs') %>

<script>
   // Sunucudan gelen kullanıcı bilgisi
  var userIcon = document.querySelector('[data-target="#sign"]');
  var signModal = document.getElementById('sign');
  var signCloses = document.querySelectorAll('.sign-close');
  var links = document.querySelectorAll('[data-target]');

  userIcon.addEventListener('click', function() {
    var user = JSON.parse('<%- JSON.stringify(user) %>');
    if(!user){
      toggleSignModal();
    }
  });

  signCloses.forEach(function(signClose) {
    signClose.addEventListener('click', toggleSignModal);
  });

  links.forEach(function(link) {
    link.addEventListener('click', function(event) {
      var target = this.getAttribute('data-target');
      if(target == 'signin' || target == 'signup' || target == 'forgot') {
        toggleModal(target);
      }
      
    });
});

  function toggleModal(target) {
    var modals = document.querySelectorAll('.modal-content.cts-block');
    modals.forEach(function(modal) {
      modal.style.display = (modal.getAttribute('data-name') === target) ? 'flex' : 'none';
    });
  }

  function toggleSignModal() {
    signModal.classList.toggle('show');
    document.body.classList.toggle('modal-open');
    var isModalVisible = signModal.classList.contains('show');
    
    if (isModalVisible) {
      signModal.setAttribute('aria-modal', 'true');
      signModal.setAttribute('role', 'dialog');
      signModal.removeAttribute('aria-hidden');
    } else {
      signModal.removeAttribute('aria-modal');
      signModal.removeAttribute('role');
      signModal.setAttribute('aria-hidden', 'true');
    }
  }


  
  

</script>

  